<div>
  <br>
  <h1>{{titulo}}</h1>
</div>

<form [formGroup]="form" (ngSubmit)="save()">

  <div class="field">
    <label for="">Nome:</label>
    <input type="text" formControlName="nome" >
  </div>
    
  <div class="field" style="padding: 2px 2px 2px 15px;">
    <label for="">CPF:</label>
    <input type="text" formControlName="cpf" >
  </div>

  <div style="color: red;" *ngIf="error">
    {{errorMsg}}
  </div>

    <div class="toolbox">
        <button type="submit">Salvar</button>

        <a [routerLink]="['/pessoa']">
           <button>Voltar</button>
          </a>
    </div>

</form>